<div>
  <div>
    <%= link_to 'Создать группу', new_group_path, class: 'btn btn-default'%>
  </div>
  Список групп
</div>
<div class="col-sm-12">
  Вы автор:
  <div>
    <% @authored_groups.each do |group| %>
      <%= link_to group.title, group %></br>
      <%= group.description %></br></br>
    <% end %>
  </div>
</div>

<div class="col-sm-12">
  Предложения:
</div>
<div class="col-sm-12">
  <% @new_groups.each do |group| %>
    <%= link_to group.title, group %></br>
    <%= group.description %></br></br>
  <% end %>
</div>

<div class="col-sm-12">
    Ваши группы:
</div>
<div class="col-sm-12">
  <% @groups.each do |group| %>
    <%= link_to group.title, group %></br>
    <%= group.description %></br></br>
  <% end %>
</div>
