<%= @group.title %></br>
<%= @group.description %>

<div>
  <% if @group.author == current_user %>
    <div class="form-group">
      <%= link_to 'Редактировать группу', edit_group_path(@group), class: 'btn, btn-primary' %>  
    </div>
  <% end %>
  <% if @group.users.include? current_user%>
    <% if @group.author != current_user %>
      <div>
        <%= link_to 'Отписаться ', unsubscribe_group_path(@group), method: :delete, class: 'btn, btn-danger' %>
      </div>
    <% end %>
  <% end %>
  <% if !@group.users.include? current_user %>
    <% if @group.author != current_user %>
      <div>
        <%= link_to 'Подписаться', subscribe_group_path(@group), method: :post, class: 'btn, btn-success'  %>  
      </div>
    <% end %>
  <% end %>
  <%= form_for :post, url: create_post_group_path(@group), method: :post do |f| %>
  <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <div>
      <%= f.submit t(:save), class: "btn btn-primary" %>
    </div>
    <% end %>

    <% if @post.present? %>
      <%= @post.errors.full_messages  %>
    <% end %>

    <% @group.posts.each do |post| %>
      <%# post.group.title %>
      <%= post.author.name %></br>
      <%= post.body %></br>
      <%= post.likes.count %></br>
      <%= post.photos.count %></br></br>
  <% end %>
  </div>

</div>
