<h1>Редактирование страницы</h1>

<% if @user.errors.present? %>
  У юзера есть ошибки:<br>
  <% @user.errors.full_messages.each do |m| %> 
    <%= m %><br>
  <% end %>
<% end %>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age, in: 1..100, step: 1 %>
  </div>
  <div class="field">
    <%= f.label :male %>
    <%= f.select :male, options_for_select(User::MALE_SET, (@user.male.nil? ? 'nil' : (@user.male ? 1 : 0)) ) %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>


  <div class="actions">
    <%= f.submit "Отправить" %>
    <%= link_to "Назад", user_path(@user) %>
  </div>
<% end %>
