<div>
  Имя: <%= @user.name %>
</div>
<div>
  Фамилия: <%= @user.surname %>
</div>
<div>
  <%= image_tag @user.avatar.url(:medium) %>
</div>
<div>
  Возраст: <%= @user.age %>
</div>
<div>
  Пол: <%= @user.male %>
</div>
<div>
  Страна: <%= @user.country %>
</div>
<div>
  Город: <%= @user.city %>
</div>
<div>
  О себе: <%= @user.description %>
</div>
<div>
  <% if @user != current_user %>
    <% if !current_user.friends.include? @user %>
      <%= form_for :user, url: add_to_friend_user_path(@user.id), method: :post do |f| %>
        <%= f.submit 'Добавить в друзья' %>
      <% end %>
    <% end %>
  <% end %>
  <% if current_user.friends.include? @user%>
    <%= @user.name %> ваш друг
  <% end %>
</div>
<div>
  Посты

  <%= form_for :post, url: create_post_user_path(@user), method: :post do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <div>
      <%= f.submit "Сохранить", class: "ui blue labeled submit icon button" %>
    </div>
  <% end %>

  <% if @post.present? %>
    <%= @post.errors.full_messages  %>
  <% end %>

  <% @user.posts.each do |post| %>
    <%= post.user.name %></br>
    <%= post.body %></br>
    <%= post.likes.count %></br>
    <%= post.photos.count %></br></br>
  <% end %>
</div>
