<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="<%= (controller?(:users) && action?(:show) ? 'active' : '') %>">
    <%= link_to 'Страница', current_user %>
  </li>
  <li role="presentation" class="<%= (controller?(:friend_requests) && action?(:index) ? 'active' : '') %>">
    <%= link_to 'Друзья', friend_requests_path %>
  </li>
  <li role="presentation" class="<%= (controller?(:news) && action?(:index) ? 'active' : '') %>">
    <%= link_to 'Новости', news_index_path %>
  </li>
  <li role="presentation" class="<%= (controller?(:groups) && action?(:index) ? 'active' : '') %>">
  <%= link_to 'Группы', groups_path %>
  </li>
  <li role="presentation">
    <a href="">Фотографии</a>
  </li>
  <li role="presentation" class="<%= (controller?(:conversations) && action?(:index) ? 'active' : '') %>">
    <%= link_to 'Сообщения', conversations_path %>
  </li>
  <li role="presentation" class="<%= (controller?(:users) && action?(:edit) ? 'active' : '') %>">
    <%= link_to 'Настройки', edit_user_path(current_user) %>
  </li>
</ul>
