<% if @friend_requests.count != 0 %>
  <div>Новые заявки в друзья:</div>
  <ul>
    <% @friend_requests.each do |fr| %>
      <% user = fr.sender %>

      <%= render user %>

      <%= form_for :friend_request, url: approve_friend_request_path(fr), method: :put do |f| %>
        <%= f.submit 'Добавить в друзья' %>
      <% end %>
      <%= form_for :friend_request, url: decline_friend_request_path(fr), method: :put do |f| %>
        <%= f.submit 'Оставить в подписчиках' %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @friends.count != 0 %>
  <div>Друзья:</div>
  <ul>
    <% @friends.each do |user| %>
      <%= render user %>
      <%= link_to 'Удалить из друзей', delete_friend_user_path(user), method: :delete %>
      <%# TODO: remove from friends %>
    <% end %>
  </ul>
<% else %>
  <div>У вас еще нет друзей! :(</div>
<% end %>
