<!DOCTYPE html>
<html>
  <head>
    <title>Net</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'shared/header' %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= yield %>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
